/part10-Part10_03.PositiveNumbers/target/
/part10-Part10_05.PrintingUserInput/target/
/part10-Part10_04.Divisible/target/
/part10-Part10_06.LimitedNumbers/target/
/part10-Part10_07.UniqueLastNames/target/
/part10-Part10_08.Weighting/target/
/part10-Part10_09.ReadingFilesPerLine/target/
/part10-Part10_10.BooksFromFile/target/
/part10-Part10_11.WageOrder/target/
/part10-Part10_12.StudentsOnAlphabeticalOrder/target/
/part10-Part10_13.LiteracyComparison/target/
/part10-Part10_14.Literature/target/
